<div class="modal fade" id="olx-forms-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h4>{{ introductionTitle }}</h4>
                <div class="modal-body-content">
                    {{ introductionBody }}
                </div>
                <ul class="nav nav-stacked nav-pills">
                    <li><a href="#" id="olx-forms-modal-share-facebook" class="btn btn-social btn-facebook"><i class="fa fa-facebook-official"></i>Facebook</a></li>
                    <li><a href="#" id="olx-forms-modal-share-twitter" class="btn btn-social btn-twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a href="#" id="olx-forms-modal-share-google-plus" class="btn btn-social btn-google-plus"><i class="fa fa-google-plus"></i>Google</a></li>
                    <li><a href="#" id="olx-forms-modal-share-email" class="btn btn-social btn-email"><i class="fa fa-envelope"></i>Email</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
